<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2014 Google Inc. All Rights Reserved.
  CONFIDENTIAL. AUTHORIZED USE ONLY. DO NOT REDISTRIBUTE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.atap.tangohelperlib"
    android:versionCode="16799"
    android:versionName="1.55:2017.06.13-m20-platform-freeze-144-g1edb9a76:16799:unstable" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

</manifest>